<div class="position jumbotron">
  <h1>ALPHA BLOG</h1>
  <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>-->
  <%= link_to 'Sign up now', signup_path, class: "btn btn-primary btn-lg btn-xlarge" %>
</div>